.checkbox {
    margin: 10px;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid var(--grey);
}

.checkbox[class~="checked"]:after {
    color: var(--green);
    content: "\2713";
    font-weight: 600;
    transform: scale(1.5);
    height: 24px;
    width: 24px;
    position: absolute;
    left: 20px;
}

.dropdown {
    background-color: white;
    border: 1px solid var(--grey);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--grey);
    position: absolute;
    top: 130px;
    left: 280px;
    height: 385px;
    width: 420px;
    z-index: 100;
    overflow-y: scroll;
}

.dropdown-list {
    cursor: pointer;
    list-style-type:lower-alpha;
    margin-right: 5px;
    padding: 5px;
}

.item {
    position: relative;
    width: 100%;
}

.item-container {
    width: 100%;
}

.item-text {
    width: 80%;
    overflow-wrap: break-word;
}

.sub-items {
    width: 100%;
    padding-left: 30px;
}

.sub-item-divider {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}