.options {
    background-color: var(--dark-green);
    padding-top: 15px;
    padding-bottom: 15px;
}

.option {
    cursor: pointer;
}

.option > div {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.option > div > span {
    transition: 0.6s;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.expand {
    transition: 0.6s;
    transform: rotateZ(180deg);
}

.expanded-option {
    background-color: var(--dark-green);
    color: var(--white);
    padding-bottom: 15px;
    width: 100%;
}

.expanded-sub-options {
    border-radius: 5px;
}

.disabled {
    color: var(--grey);
}

.expanded-sub-options > li {
    border: 1px solid var(--white);
    cursor: pointer;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.expanded-sub-options > li:first-child {
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
} 

.expanded-sub-options > li:last-child {
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
}

.expanded-sub-options > li[class~='disabled'] {
    border: 1px solid var(--grey);
    cursor: default;
} 

.selected-sub-option {
    background-color: var(--white);
    color: var(--black);
}

.scale-toggle > span {
    color: var(--grey);
    cursor: pointer;
    padding: 7.5px;
    margin-top: 10px;
}

.scale-toggle > .selected {
    color: var(--white);
    border-bottom: 2px solid var(--white);
}