.classification {
    cursor: pointer;
    position: relative;
}

.clear {
    border-left: 1px solid var(--light-grey);
    padding: 14px 10px 14px 12.5px;
    margin-left: 10px;
}

.clear-where {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 7.5px;
    position: absolute;
    top: 84px;
    right: 115px;
}

.clear-where:hover {
    background-color: var(--pale-green);
}

.find {
    width: 11%;
}

.find > .btn {
    line-height: 1.8;
    width: 100%;
}

.list-action {
    position: absolute;
    right: -45px;
    transition: 0.3s;
}

.list-action > span {
    transition: 0.6s;
    margin-left: 10px;
}

.shrink {
    right: 0px;
}

.more {
    cursor: pointer;
}

.search {
    background-color: var(--light-green);
    width: 100%;
}

.search-container {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.search-container > form {
    margin-bottom: 5px;
    width: 100%;
}

.what {
    width: 60%;
}

.what > * > .form-control {
    background-color: var(--white);
    border: 3px solid transparent;
}

.what > * > .dropdown {
    top: 130px;
    left: 280px;
}

.where {
    /* position: relative; */
    width: 28%;
}

.where > .dropdown {
    top: 130px;
}

.where > .form-control {
    background-color: var(--white);
    border: 3px solid transparent;
}

.outlined {
    outline: 3px solid rgba(0, 0, 0, 0.5);
}

.flip {
    transition: 0.6s;
    transform: rotateZ(180deg);
}

.hidden {
    visibility: hidden;
}