.content-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 30%;
}

.content-card > img {
    height: 100px;
    width: 100px;
}

.content-card > span {
    padding: 10px;
}

.center-text {
    text-align: center;
}

.disclaimer {
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}