.company-search {
    background-color: var(--white);
    position: absolute;
    top: -125px;
    padding: 30px;
    width: 100%;
}

.company-search-bar {
    width: 80%;
}

.company-search-bar > label {
    font-weight: 400;
    margin-bottom: 10px;
}

.search-bar {
    background-color: var(--pale-grey);
    appearance: none;
}

.search-bar:focus {
    outline: none;
}

.search-bar-container {
    position: relative;
    min-width: 30%;
}

.search-icon {
    background-color: var(--pale-grey);
    position: absolute;
    right: 10px;
    bottom: 10px;
}