.company-job-search {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.company-job-card {
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    padding: 25px;
    width: 50%;
}

.company-job-card + .company-job-card {
    margin-left: 15px;
}

.company-job-card > * + * {
    margin-top: 10px;
}

.company-profile {
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
}

.company-profile-details > tr > th, .company-profile-details > tr > td {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.company-profile-section:first-child {
    padding-bottom: 0px;
}

.company-profile-section {
    background-color: var(--white);
    display: flex;
    margin-bottom: 20px;
    padding: 30px;
}

.company-profile-section > * + * {
    margin-top: 15px;
}

.company-profile-section > * > img {
    height: 125px;
    width: 125px;
}

.company-profile-tabs > ul {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.company-profile-tab {
    cursor: pointer;
    padding: 15px;
}

.company-profile-tab:not(.selected):hover {
    border-bottom: 2px solid var(--black);
}

.company-profile-tab.selected {
    color: var(--dark-green);
    border-bottom: 2px solid var(--dark-green);
}

.company-ratings {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.company-rating {
    width: 30%;
}

.company-rating > * + * {
    margin-top: 5px;
}

.company-rating > * > .bold {
    margin-right: 5px;
}

.company-rating + .company-rating {
    margin-bottom: 15px;
}

.company-review-rating {
    margin-left: 15px;
}

.company-review-rating > * > * + * {
    margin-left: 15px;
}

.section-card {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
}

.section-card > * + * {
    margin-left: 10px;
}

.review-card {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
}

.review-card-details {
    width: 25%;
}

.review-card-details > * + * {
    margin-top: 10px;
}

.review-card-content {
    width: 75%;
}

.review-card-content > * + * {
    margin-top: 15px;
}

.helpful-btn {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px 15px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 7px;
}

.helpful-btn:hover {
    background-color: var(--lighter-green);
}

.helpful-btn > * + * {
    margin-left: 5px;
}

.flag:hover {
    cursor: pointer;
}