.clear-search {
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 110px;
    top: 15px;
}

.clear-search:hover {
    cursor: pointer;
    background-color: var(--pale-green);
}

.company-jobs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.company-job-search {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 50%;
}

.company-job-card {
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    padding: 25px;
    width: 100%;
}

.company-job-card > * + * {
    margin-top: 5px;
}

.company-profile {
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
}

.company-profile-details > tr > th, .company-profile-details > tr > td {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.company-profile-section:first-child {
    padding-bottom: 0px;
}

.company-profile-section {
    background-color: var(--white);
    display: flex;
    margin-bottom: 20px;
    padding: 30px;
}

.company-profile-section > * + * {
    margin-top: 15px;
}

.company-profile-section > * > img {
    height: 125px;
    width: 125px;
}

.company-profile-tabs > ul {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.company-profile-tab {
    cursor: pointer;
    padding: 15px;
}

.company-profile-tab:not(.selected):hover {
    border-bottom: 2px solid var(--black);
}

.company-profile-tab.selected {
    color: var(--dark-green);
    border-bottom: 2px solid var(--dark-green);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.gallery > img {
    height: 200px;
    width: 100%;
}

.perks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}

.section-card {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.section-card > * + * {
    margin-left: 10px;
}

.values {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}