.company-ratings {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.company-rating {
    width: 30%;
}

.company-rating > * + * {
    margin-top: 5px;
}

.company-rating > * > .bold {
    margin-right: 5px;
}

.company-rating + .company-rating {
    margin-bottom: 15px;
}

.company-review-rating {
    margin-left: 15px;
}

.company-review-rating > * > * + * {
    margin-left: 15px;
}

.review-card {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
}

.review-card-details {
    width: 25%;
}

.review-card-details > * + * {
    margin-top: 10px;
}

.review-card-content {
    width: 75%;
}

.review-card-content > * + * {
    margin-top: 15px;
}

.helpful-btn {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px 15px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 7px;
}

.helpful-btn:hover {
    background-color: var(--lighter-green);
}

.helpful-btn > * + * {
    margin-left: 5px;
}

.flag:hover {
    cursor: pointer;
}

.rating-bar {
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
}

.rating-bar > * + * {
    margin-left: 5px;
}

.rating-bar-container {
    background-color: var(--light-grey);
    border-radius: 2.5px;
    position: relative;
    width: 90%;
    height: 15px;
}

.rating-bar-fill {
    background-color: var(--light-green);
    border-radius: 2.5px;
    position: absolute;
    height: 15px;
}

.rating-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 20%;
}

.rating-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 100px;
    position: relative;
    width: 100px;
}

.rating-circle-overlay {
    background: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
}

.dollar-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--dark-green);
    border-radius: 50%;
    bottom: 5px;
    right: 2.5px;
    position: absolute;
}