.company-logo {
    height: 80px;
    width: 80px;
}

.jobs {
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
}

.job-feed {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.job-listings {
    background-color: var(--white);
    padding: 10px;
    margin-bottom: 10px;
}

.job-card {
    border: 1px solid var(--light-grey);
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.job-card > div {
    margin-top: 10px;
    margin-bottom: 10px;;
}

.job-search-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.current-page {
    background-color: var(--pale-green);
    border: 1px solid var(--light-green);
    border-radius: 10px;
}

.paginator {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.paginator-item {
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    padding-left: 17.5px;
    padding-right: 17.5px;
}

.paginator-next {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-left: 15px;
}

.sort > span {
    margin-right: 5px;
}

.sort-option {
    cursor: pointer;
}

.sort-option > span {
    transition: 0.6s;
}

.sidebar {
    margin-top: 32.5px;
}

.sidebar > .card {
    margin: 10px;
}

.summary {
    list-style-position: inside;
}