.company-search {
    background-color: var(--white);
    position: absolute;
    top: -125px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.company-search-bar {
    margin-left: 100px;
    width: 70%;
}

.company-search-bar > label {
    font-weight: 400;
    margin-bottom: 10px;
}

.search-bar {
    background-color: var(--pale-grey);
    border: 1px solid var(--light-grey);
    appearance: none;
}

.search-bar:focus {
    outline: none;
}

.search-bar-container {
    position: relative;
    min-width: 30%;
}

.search-icon {
    background-color: var(--pale-grey);
    position: absolute;
    right: 10px;
    bottom: 10px;
}