.companies {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}

.company-logo {
    height: 100px;
    width: 125px;
}

.company-details > * {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tag-div {
    width: 100%;
}

.tag {
    background-color: var(--light-green);
    color: var(--white);
    border-radius: 5px;
    font-size: 14px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    text-transform: capitalize;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 15px;
    width: 100%;
}

.tile {
    background-color: var(--white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding: 5px;
    width: 100%;
}

.review-heading {
    padding-top: 100px;
    padding-bottom: 50px;
}