.directory {
    background-color: var(--light-green);
    display: flex;
    justify-content: center;
}

.directory > * > .search-bar {
    width: 1000px;
}

.directory-link {
    color: var(--white);
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}

.directory-browse {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.company-letter {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.browse {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    width: 100%;
}

.directory-listings {
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
    width: 60%;
}

.listings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.company-listing, .directory-listing {
    color: var(--green);
    cursor: pointer;
}

.company-listing {
    padding-top: 10px;
    width: 50%;
}

