.banner {
    height: 78px;
}

.banner-link {
    font-size: 18px;
    font-weight: 500;
}

.banner-link > a {
    color: var(--green);
    margin-left: 5px;
    margin-right: 5px;
}

.banner-link > a:hover {
    text-decoration: underline;
}

.border {
    border: 1px solid black;
}

header {
    width: 100%;
}

.country {
    position: absolute;
    right: 0;
}

.divider {
    margin-left: 10px;
    margin-right: 10px;
}

.domain {
    width: 50%;
}

.logo > img {
    height: 65px;
    width: 65px;
}

.logo-heading {
    font-size: 30px;
    font-weight: 700;
}

.sites {
    background-color: var(--black);
    width: 100%;
}

.site-link {
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    height: 30px;
    list-style-type: none;
}

.site-link > a {
    color: var(--grey);
    margin-left: 5px;
    margin-right: 5px;
}

.site-link > a:hover {
    color: var(--green);
}

.site-links > .selected {
    border-bottom: 2px solid var(--white);
    font-weight: 600;
}

.selected > a, .selected > a:hover {
    color: var(--white);
    cursor: default;
}

.pages {
    background-color: var(--black);
} 

.tab {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    list-style-type: none;
    text-align: center;
    width: 100%;
}

.tab > a {
    color: var(--white);
    line-height: 48px;
}

.tabs > .selected {
    background-color: var(--light-green);
}

.tabs > .selected > a {
    color: var(--black);
}