.banner {
    height: 78px;
}

.banner-link {
    font-size: 18px;
    font-weight: 500;
}

.banner-link > a {
    color: var(--green);
    margin-left: 5px;
    margin-right: 5px;
}

.banner-link > a:hover {
    text-decoration: underline;
}

header {
    width: 100%;
}

.region {
    position: absolute;
    right: 0;
}

.divider {
    margin-left: 10px;
    margin-right: 10px;
}

.site {
    width: 50%;
}

.logo > img {
    height: 65px;
    width: 65px;
}

.logo-heading {
    font-size: 30px;
    font-weight: 700;
}

.sites {
    background-color: var(--black);
    width: 100%;
}

.site-link {
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    height: 30px;
    list-style-type: none;
}

.site-link > span {
    color: var(--grey);
    margin-left: 5px;
    margin-right: 5px;
}

.site-link > span:hover {
    color: var(--green);
    cursor: pointer;
}

.site-links > .selected {
    border-bottom: 2px solid var(--white);
    font-weight: 600;
}

.selected > span, .selected > span:hover {
    color: var(--white);
    cursor: default;
}

.pages {
    background-color: var(--black);
} 

.panda {
    position: absolute;
    top: -60px;
    transition: 0.7s;
    height: 130px;
    width: 130px;
    z-index: -1;
}

.tab[id="career"]:hover > .panda {
    transition: 0.7s;
    cursor: pointer;
    top: -90px;
}

.tab {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    list-style-type: none;
    text-align: center;
    width: 100%;
}

.tab > span {
    color: var(--white);
    line-height: 48px;
}

.tabs > .selected {
    background-color: var(--light-green);
}

.tabs > .selected > span {
    color: var(--black);
}