.dashboard {
    height: 125px;
    width: 100%;
}

.dashboard > .page {
    height: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.signed-in {
    height: 308px;
}

.dashboard-tile {
    width: 100%;
}

.dashboard-tile + .dashboard-tile {
    border-left: 1px solid var(--light-grey);
    padding-left: 15px;
}

.dashboard-tile-heading {
    padding-bottom: 15px;
}

.dashboard-tile-heading > span {
    margin-right: 5px;
}

.dashboard-tile-item {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dashboard-tile-item > a {
    color: var(--green);
}

.dashboard-tile-item > a:hover {
    text-decoration: underline;
}