.company-search {
    background-color: var(--white);
    position: absolute;
    top: 415px;
    left: 130px;
    width: 1000px;
    padding: 30px;
    padding-left: 100px;
}

.company-search-bar {
    width: 60%;
}

.company-search-bar > label {
    font-weight: 400;
    margin-bottom: 10px;
}

.search-bar {
    background-color: var(--pale-grey);
    appearance: none;
}

.search-bar:focus {
    outline: none;
}

.search-icon {
    background-color: var(--pale-grey);
    position: absolute;
    right: 10px;
    bottom: 20px;
}