.career-search {
    background-color: var(--light-green);
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.home {
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.search-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 75px;
    padding-right: 75px;
    margin-right: 10px;
}

.career-search-bar {
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.career-search-bar.form-control {
    font-size: 18px;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: 0.6s;
}

.search-cancel {
    display: none;
    transition: 0.6s;
}

.search-glass {
    font-size: 35px;
}

.overlay {
    background-color: var(--black);
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}