.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.invalid {
    border: 3px solid var(--dark-green);
}

.error {
    margin-top: 5px;
}

.error > span + span {
    margin-left: 5px;
}

.error-msg {
    color: red;
}

.form {
    background-color: var(--white);
    margin-top: 10%;
    min-width: 660px;
}

.form > form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.form > div {
    padding: 15px;
}

.form-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-btn > .btn {
    padding-left: 20px;
    padding-right: 20px;
}

.form-container {
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100%;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-links > .footer-link + .footer-link{
    margin-left: 25px;
}

.toggle-visibility {
    background-color: var(--white);
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 10px;
}