.card {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
    padding: 15px;
}

.card > * + *, .card > * > * {
    margin-top: 10px;
}

.next-role {
    margin-bottom: 10px;
}

.next-role > tbody > tr, .next-role > tbody > tr > td {
    text-align: left;
    padding: 5px;
}

.country-code {
    position: absolute;
    top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid var(--grey);
}

.phone {
    padding-top: 10px;
    width: 100%;
}

.phone > * > .form-group {
    padding-top: 0;
}

.phone-number {
    margin-left: 10px;
    position: relative;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 15px;
}

.profile-card > span {
    margin-bottom: 15px;
}

.profile-card > * > .btn {
    margin-right: 15px;
}

.profile-banner {
    display: flex;
    justify-content: center;
    background-color: var(--light-green);
    width: 100%;
}

.profile-banner > .page {
    padding: 25px;
}

.profile-banner > * > div {
    margin-top: 5px;
    margin-bottom: 10px;
}

.profile-details {
    width: 70%;
}

.sidebar {
    width: 30%;
}

.callout > div {
    padding: 5px;
}

.skills:hover {
    cursor: pointer;
}

.profile-visibility > .visibility-dropdown {
    top: 27.5px;
}

.select-visibility {
    cursor: pointer;
}

.select-visibility-arrow {
    transition: 0.6s;
}

.completion {
    background-color: var(--pale-grey);
    border-radius: 15px;
    height: 12.5px;
    width: 80%;
}

.completion > div {
    background-color: var(--grey);
    border-radius: 15px;
    height: 12.5px;
    width: 50%;
}